.all {
    .transition {
        padding: 24px 0 0 116px;
        a {
            position: relative;
            bottom: 3px;
            right: 20px;
        }
        span {
            padding: 0 20px;
            position: relative;
            bottom: 3px;
        }
    }
    .text {
        font-size: 42px;
        font-weight: 700;
        padding: 24px 0 0 90px;
    }
}

.header {
    width: 100%;
    height: 72px ;
}